* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

html {
  min-height: 100vh;
  position: relative;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: #fff;
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Nunito sans", sans-serif;
}

div.mainContainer {
  padding: 0 2rem;
}

h1,h2,h3,h4,h5,h6, strong {
  font-weight: bold;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
