main.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
}

div.content {
  width: 100%;
  max-width: 1024px;
}

div.categorySection {
  display: flex;
}

div.categorySectionContent {
  min-width: 175px;
  width: 175px;
  height: 100px;
  border-radius: 10px;
  margin: .75rem .75rem .75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

span.categorySectionTitle {
  color: #fff;
}