main.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
}

div.content {
  width: 100%;
  max-width: 1024px;
}

strong.sectionTitle {
  font-size: 24px;
}

div.categorySection, div.trendingSection {
  display: flex;
  gap: .75rem
}

div.categoryContainer {
  margin-bottom: 1.5rem;
}

div.categorySectionContent {
  min-width: 175px;
  width: 175px;
  height: 100px;
  border-radius: 10px;
  margin: .75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

span.categorySectionTitle {
  color: #fff;
}

div.trendingSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

div.trendingSectionContent {
  aspect-ratio: 10/7;
  min-height: 225px;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  border-radius: 10px;
  margin: 1rem 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

span.trendingSectionTitle {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  height: 80px;
}

div.partnersContainer {
  margin: 1rem 0;
}

div.partnersSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 2rem;
  padding: 1rem 0;
  flex-wrap: wrap;
  text-align: center;
}

div.partnersSectionContent {
  aspect-ratio: 10/3;
  min-height: 75px;
  position: relative;
  filter: grayscale(1);
}
