main.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0;
}

div.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.75rem 1rem;
  gap: 3rem;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
}

div.imageContainer {
  width: 500px;
  height: 500px;
  position: relative;
}

div.productContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

strong.productPrice {
  font-size: 28px;
}

p.description {
  font-weight: 700;
}

span.productDescription {
  color: #575757;
}

div.actionButton {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

button.actionButtonFav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .75rem 2rem;
  width: 50%;
  background: transparent;
  border: 1px solid #171717;
  transition: .5s background, .5s color;

  &:hover {
    background: #464646;
    color: #fff;
    border: 1px solid #464646;
  }
}

button.actionButtonBuy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .75rem 2rem;
  width: 50%;
  background: #171717;
  color: #fff;
  border: none;
  transition: .5s background;

  &:hover {
    background: #464646;
  }
}

div.selectContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

div.selectTitle {
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  background: #fff;
  border: 1px solid #8e8e8e;
  outline: none;
  cursor: pointer;
}

ul.selectContent {
  list-style: none;
  position: absolute;
  top: calc(0px + 2.5rem);
  width: 100px;
  overflow: hidden;
  border: 1px solid #8e8e8e;
  border-top: none;
  background: #fff;
  z-index: 1;
  animation: scale-up-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

li.selectItem {
  padding: .5rem 1rem;
  cursor: pointer;

  &:hover {
    background: #ebeaea;
  }

  & + li {
    border-top: 1px solid #46464620;
  }
}

.iconTransform {
  transition: .5s transform;
}

div.colorContainer {
  width: 2.5rem;
  height: 2.4rem;
  margin-right: .5rem;
  position: relative;
}

div.colorDescription {
  display: flex;
  align-items: center;
}

div.selectTitleColor {
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0.5rem 1rem .5rem 0;
  background: #fff;
  border: 1px solid #8e8e8e;
  outline: none;
  cursor: pointer;
}

ul.selectContentColor {
  list-style: none;
  position: absolute;
  top: calc(0px + 2.5rem);
  width: 150px;
  overflow: hidden;
  border: 1px solid #8e8e8e;
  border-top: none;
  background: #fff;
  z-index: 1;
  animation: scale-up-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

span.colorTitle {
  text-transform: capitalize;
}

li.selectItemColor {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;

  &:hover {
    background: #ebeaea;
  }
}


@keyframes scale-up-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
